# Importing necessary libraries

In [44]:
import numpy as np
import pandas as pd 
from sklearn.impute import KNNImputer

In [46]:
dataset=pd.read_csv("RDB_PARK_STATISTICS_2021_dataset.csv")
dataset.head(4)

   Year   VNP     ANP    NNP    Total_Visits
0  1974  449.0  3708.0    NaN            4157
1  1975  923.0  5159.0    NaN            6082
2  1976  661.0  4685.0    NaN            5346
3  1977  970.0  5501.0    NaN            6471

# Data preprocessing

In [47]:
dataset=dataset.replace("-",np.nan)
dataset=dataset.replace("/[^0-9]+/",'')

In [48]:
# numerical chracteristics of data set
dataset.describe()

              Year          VNP          ANP           NNP    Total_Visits
count    46.000000     45.000000     40.00000     30.000000       46.000000
mean   1996.500000  10403.622222  15886.85000   4813.933333    27131.630435
std      13.422618  11350.862002  14159.54905   5096.225283    29464.803016
min    1974.000000     61.000000    589.00000     38.000000       61.000000
25%    1985.250000   1653.000000   5415.50000    855.000000     5355.500000
50%    1996.500000   5356.000000  13724.00000   2777.000000    17358.500000
75%    2007.750000  18855.000000  17226.25000   7441.250000    38666.500000
max    2019.000000  35567.000000  58385.00000  17863.000000   111136.000000

In [49]:
## check if there is null value(empty cell)
dataset.isnull().sum()

Year               0
 VNP               1
 ANP               6
 NNP              16
 Total_Visits      0
dtype: int64

### Removing Null value

In [50]:
# Step 1: define an knn imputer using KNNImputer

imputer = KNNImputer(n_neighbors=5)

# Step 2: impute the missing data
dataset = pd.DataFrame(imputer.fit_transform(dataset), columns=dataset.columns, index=dataset.index)
dataset.isnull().sum()

Year              0
 VNP              0
 ANP              0
 NNP              0
 Total_Visits     0
dtype: int64

Our dataset now is well prepared now we can try to use it

# Data visualization